<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css"> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='_site/css'> -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}\css\style.css"> -->
  <!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"> -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <!-- <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
  </script> -->

</head>