<footer class="site-footer">
  <span class="site-footer-credits">
    Kontakt und Anmeldung: <a href="info@be-deutsch.de">info@be-deutsch.de</a> oder <a href="https://www.t.me/bedeutsch/"><img src="{{ site.baseurl }}/assets/images/Telegram_logo.svg" alt="telegram icon" style="width:32px;height:32px;"></a>.
  </span>
  <br>
  <span class="site-footer-credits"> 
    Unsere <a href="{{ site.baseurl }}\AGB">AGB</a>, <a href="{{ site.baseurl }}\data_protection">Datenschutzerklärung</a> und <a href="{{ site.baseurl }}\impressum">Impressum</a>.
  </span>
</footer>
