{% assign lang_code= page.lang %}
{% if lang_code == 'de' %} 
  {% assign lang_url = "" %} <!-- "de" has no special url path, only "en" and "ru" -->
{% else %} 
  {% capture lang_url %}{{lang_code}}\{% endcapture %}
{% endif %} 



<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="{{ site.baseurl }}\{{lang_url}}" class="btn">Home</a>
    <a href="{{ site.baseurl }}\{{lang_url}}Deutschtest" class="btn">{{ site.data.translations['testYourGerman'][page.lang] }}</a>
    <a href="{{ site.baseurl }}\{{lang_url}}Kurse" class="btn">{{ site.data.translations['ourCourses'][page.lang] }}</a>
    <a href="{{ site.baseurl }}\{{lang_url}}StudiumInDeutschland" class="btn">{{ site.data.translations['studyInGermany'][page.lang] }}</a>
    <a href="{{ site.baseurl }}\{{lang_url}}Anmeldung" class="btn">{{ site.data.translations['registration'][page.lang] }}</a>
  </section>
 