<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="{{ site.baseurl }}\" class="btn">Home</a>
    <a href="{{ site.baseurl }}\Deutschtest" class="btn">Einstufungstest</a>
    <a href="{{ site.baseurl }}\Kurse" class="btn">Unsere Kurse</a>
    <a href="{{ site.baseurl }}\StudiumInDeutschland" class="btn">Studium in Deutschland</a>
    <a href="{{ site.baseurl }}\Anmeldung" class="btn">Anmeldung</a>
  </section>
